body, html {
	font-family: sans-serif;
	margin:0;
}
.legend {
	bottom: 6px !important;
}
#controls-show, #controls-hide {
	background-color: #009;
	color: #fff;
	cursor: pointer;
	font-size: 80%;
	padding: 5px 20px;
}
#controls-show {
	z-index: 5;
	position: absolute;
	top: 0;
	right: 0;
}
#controls-hide {
	position: absolute;
	bottom: 0;
	right: 0;
}

#map {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: -100%;
	z-index: 10;
}
#map-message {
	z-index: 15;
	position: absolute;
	width: 60%;

	display: none;
	background-color: rgba(0,0,0,0.3);
	text-align: center;
	border-radius: 10px;
	padding: 10px;
	
	font-size: 300%;
}

#show-map-control img {
	width: 44px;
	height: 44px;
}	
#show-map-control {
	background-color: #ccf;
	width: 64px;
	height: 64px;
	top: 10px;
	left: 10px;
	border: solid 1px #ccc;
	padding: 10px;
	text-align: center;
	position: absolute;
}
#controls-box {
	border-bottom: solid 1px #009;
	background-color: #eee;
	padding: 4px;
	position: relative;
	z-index: 6;
	min-height: 7em;
}
#controls {
	position: absolute;
	left: 100px;
}
#show-map-control:hover {
	background-color: #99f;
}

.control {
}

.control div {
	display: inline-block;
}
#vis-tl {
	position: absolute;
	width:99%;
	height: 99%;
	z-index: 2;

	/* covering all the bases opacity */
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	-moz-opacity:0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}

#vis-g {
	position: absolute;
	width:99%;
	height: 99%;
	z-index: 1;
}
.vis .left .minor {
	color: #696 !important;
}
.vis .left .major {
	color: #090 !important;
}
.vis .right .minor {
	color: #f66 !important;
}
.vis .right .major {
	color: #f00 !important;
}
.ind {
	width: 1em;
	height: 1em;
}
.ind_0 {
	background-color: green;
}
.ind_1 {
	background-color: red;
}
.graphGroup0 {
	fill: green !important;
	stroke-width: 1px !important;
	stroke: green !important;
}
.graphGroup1 {
	fill: red !important;
	stroke-width: 1px !important;
	stroke: red !important;
}
.point {
	stroke: green !important;
}
.vis.timeline .item {
	background-color: #dddddd;
	border-color: #999999;
}
