<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Adventure Timeline</title>
  <script src="static/jquery.js"></script>
  <script src="static/vis.min.js"></script>
  <link href="static/vis.min.css" rel="stylesheet" type="text/css" />
  <link href="static/at.css" rel="stylesheet" type="text/css" />
  <script src="static/at.js"></script>
</head>

<body>
  <div id="vis-g"></div>
  <div id="vis-tl"></div>
  <div id='controls'>
    <select id='dataset'><option>** select category **</option></select>
    <div id='dataset-controls'></div>
  </div>
</div>

</body>
</html>
